# Temp files
.DS_Store
*~

# Compiled files
__pycache__/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
*.code-workspace

# Venv
/lib/
/bin/
lib64

/share/
/include/

# h5ad files
tests/data/*.h5ad
